<div class="container">
  <footer class="mt">
    <div class="container text-center">
      <a href="#"><i class="fa fa-vk"></i></a>
      <a href="#"><i class="fa fa-telegram"></i></a>
    </div>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="films/" class="nav-link px-2 text-muted">Фильмы</a></li>
      <li class="nav-item"><a href="contacts/" class="nav-link px-2 text-muted">Контакты</a></li>
    </ul>
    <p class="text-center text-muted">© 2024 Company, Inc</p>
  </footer>
</div>