<div class="container">
  <h1 class="title-lg text-center">Контакты</h1>
  <div class="mt">
    <p class="mt">Телефон: +79935620640</p>
    <p class="mt">Адрес: г. Смоленск, ул. Жукова, д. 1</p>
  </div>
</div>